node_modules/
.DS_Store

# Swift
.build/
.swiftpm/
DerivedData/
xcuserdata/
*.xcuserstate
Package.resolved

# Kotlin / Android
.gradle/
.kotlin/
build/
local.properties
*.apk
captures/

# JavaScript
dist/

# IDE
.idea/workspace.xml
